# Packaging files
build/
dist/
*.egg-info/
*.egg
*.toml

# Project files
*.xml
*.iml
*.idea
*.DS_Store

# U-net models (user needs to download these manually as they are too large to be hosted on GitHub)
mesonet/models/*.hdf5
mesonet/models/*.h5
mesonet/models/voxelmorph/*.h5
mesonet/models/voxelmorph/old/*.h5

# Old versions of scripts kept as backups
mesonet/*_old.py

# test results
tests/results/
