# Adapted from https://github.com/DeepLabCut/DeepLabCut/blob/master/.github/workflows/python-package.yml
name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-11, windows-latest]
        python-version: [3.7, 3.8, 3.9]
        include:
          - os: ubuntu-latest
            path: ~/.cache/pip
          - os: macos-11
            path: ~/Library/Caches/pip
          - os: windows-latest
            path: ~\AppData\Local\pip\Cache

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Sets environment variable for git repo location
      env:
        MESONET_GIT: pwd
      run: echo "$MESONET_GIT"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
# pip install -r requirements.txt
# pip install git+git://github.com/${{ github.repository }}.git@${{ github.sha }}


#     - name: Test with pytest
#       run: |
#         pip install pytest
#         python -m pytest
        
    - name: Run shell script to install models from OSF
      working-directory: ./mesonet
      run: sh get_default_models.sh
        
    - name: Run functional tests
      working-directory: ./tests
      run: python test.py
